.container{

width:min(92%,1320px);

margin:auto;

}

section{

padding:40px 0;

}

.grid{

    display:grid;

}

.flex{

    display:flex;

}

main{

    padding-top:82px;

}

.section-title{

max-width:700px;

margin:auto;

margin-bottom:70px;

text-align:center;

}

img{

user-select:none;

-webkit-user-drag:none;

}