*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    scroll-behavior:smooth;

}

body{

font-family:var(--font-body);

background:var(--background);

color:var(--text);

overflow-x:hidden;

-webkit-font-smoothing:antialiased;

text-rendering:optimizeLegibility;

}

img{

    display:block;

    max-width:100%;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    border:none;

    cursor:pointer;

    font-family:inherit;

}

ul{

    list-style:none;

}

::selection{

background:var(--primary);

color:white;

}